<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="SERVICE_FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/service-logs.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/service-logs.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %level %logger - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="com.financegov" level="INFO">
		<appender-ref ref="SERVICE_FILE" />
	</logger>

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>